Flask-Babel==2.0.0
appdirs==1.4.4
bce-python-sdk==0.8.53
cfgv==3.2.0
distlib==0.3.1
flake8==3.8.4
funcsigs==1.0.2
identify==1.5.10
mccabe==0.6.1
nodeenv==1.5.0
objgraph==3.5.0
paddlepaddle==1.8.5
pgl==1.2.1
pre-commit==2.9.3
pycodestyle==2.6.0
pycryptodome==3.9.9
pyflakes==2.2.0
rarfile==4.0
redis==3.5.3
redis-py-cluster==2.1.0
virtualenv==20.2.2
visualdl==2.0.5